.calendar-col{
    width: calc(100%/7);
}
.clickable{
    cursor: pointer;
}
.cell-active{
    background-color: blue;
    color:white;
    border: 0px solid blue;
    border-radius: 4px;
}
.calendar-row{
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    width: 100%;
    margin-top: .3em;
}
.w-20{
    width: 20%;
}
.w-60{
    width: 60%;
}
.arrow{
    display: inline-block; 
    width: 1em; 
    height: 1em; 
    border-top: 1px solid #000; 
    border-right: 1px solid #000; 
}
.arrow-left{
    transform: rotate(225deg);
}
.arrow-right{
    transform: rotate(45deg);
}
.calendar-text{
    color: black; 
    font-size: 12px;
    text-align: center;
}
.calendar-wrapper{
    max-width: 10em; 
    height: auto; 
    font-weight: normal;    
}